<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258926671493-po7ulgh963ekvqa5linpehgqh5mqijgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258926671493-po7ulgh963ekvqa5linpehgqh5mqijgv</string>
	<key>API_KEY</key>
	<string>AIzaSyDR7acpITG0hviesKPpxle7NxTm-_u1wcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>258926671493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gokuprx.net.ChatApp3</string>
	<key>PROJECT_ID</key>
	<string>chatapp3-fd97a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp3-fd97a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258926671493:ios:1760d7892491e6d3059bec</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp3-fd97a.firebaseio.com</string>
</dict>
</plist>